.side-data {
  height: 200px;
  width: 260px;
  display: grid;

  justify-content: center;
  padding: 40px;
  border: 3px solid rgba(0, 0, 0, 0.336);
  background-color: rgba(163, 241, 255, 0.726);
  border-radius: 30px;
}

/* .side-data.active {
  background: #a9ffd4;
  border: 2px solid #009e4f;
  color: #00a552;
  transition: 600ms;
} */

.side-data a {
  justify-self: center;
  margin-bottom: 10px;
  font-size: 25px;
}
