@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto:wght@300;400;700&display=swap');

/* CSS reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  font-family: 'Roboto', sans-serif;
}

/* remove a linha dos links */
a {
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links {
  display: none;
}

:root {
  --principal-color: #443785;
  --input-color: gainsboro;
  --gradiente: linear-gradient(45deg, black, #59139b);
}

/* CODE */
hr {
  border-style: solid;
}

main {
  width: 100%;
  margin: 0 auto;
}

.input {
  background-color: var(--input-color);
  font-weight: bold;
  padding: 20px 130px 20px 40px;
  margin: 10px;
  border-radius: 10mm;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-login {
  color: var(--principal-color);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 15px;
}

.button-container-login {
  margin-top: 30px;
  text-align: center;
}

.button {
  color: white;
  font-weight: bold;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2mm;
  transition: background-color 0.7s;
}

.button-login {
  background-color: blueviolet;
}

.button-login:hover {
  background-color: rgb(106, 35, 173);
}

.error {
  color: red;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.hidden {
  display: none;
  visibility: collapse;
}

.show {
  display: block;
  visibility: visible;
  align-items: center;
}

/* ___ CADASTRO ____________________________________________________*/
.container-cadastro {
  margin: 70px 60px;
  min-height: 100vh;
  overflow: hidden;
}

.cadastro {
  display: flex;
  margin: 20px 15px 0px 15px;
  font-size: 0.85rem;
  align-content: center;
  justify-content: space-between;
}

.cadastro p {
  color: rgb(95, 94, 94);
}

.title-cadastro {
  font: 700;
  font-size: 2.05em;
  padding-bottom: 15px;
  color: var(--principal-color);
}

.container-itens-cadastro {
  margin-top: 50px;
  margin-left: 40px;
}

.text-label {
  display: block;
  font-weight: bold;
}

.input-cadastro {
  border-radius: 0.9mm;
  padding-left: 25px;
  margin: 0;
}

.division {
  margin-bottom: 30px;
}

.container-button-cadastro {
  margin-top: 70px;
}

.button-cadastro {
  background-color: rgb(79, 209, 46);
  border-radius: 1mm;
}

.button-cadastro:hover {
  background-color: rgb(74, 160, 50);
}

/*___________________________________________________________________________________*/

.container-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 180px auto;
  grid-template-rows: 65px 100%;
  gap: 0px 0px;
  grid-template-areas:
    'Header  Header'
    'Menu  Content';
}

.Header {
  grid-area: Header;
  background: linear-gradient(45deg, black, #59139b);
  color: white;
}

.Menu {
  grid-area: Menu;
  height: 100%;
  background: linear-gradient(157deg, black, #59139b);
}

.Content {
  grid-area: Content;
  height: 100%;
  padding: 90px 90px 0px 90px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flex-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 10px 0px;
  align-items: center;
}

.title-conta {
  color: #443785;
  margin-bottom: 30px;
}

.input-conta {
  background-color: gainsboro;
  height: 25px;
  width: 100%;
  padding: 15px 0px 15px 25px;
  margin: 20px 0px 20px 15px;
  border-style: groove;
  border-color: gray;
  border-radius: 15px;
}

.text-area {
  background-color: gainsboro;
  height: 100%;
  max-height: 107px;
  width: 100%;
  padding: 15px 0px 15px 25px;
  margin: 20px auto 20px 15px;
  border-style: groove;
  border-color: gray;
  border-radius: 10px;
}

.button-conta-pagar {
  background-color: limegreen;
  width: 150px;
  margin-top: 5%;
  transition: background-color 0.7s;
}

.button-conta-pagar:hover {
  background-color: rgb(47, 148, 47);
}

.demo {
  width: 100%;
  border: 1px solid #b5b5b5;
  border-collapse: collapse;
  padding: 8px;
}

.demo th {
  border: 1px solid #b5b5b5;
  padding: 8px;
  background: #d4d4d4;
}

.demo td {
  border: 1px solid #b5b5b5;
  padding: 8px;
  text-align: center;
}

.btn-menu {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  height: 60px;
  width: 100%;
  margin-top: 40px;
  background-color: #9d9d9d;
  transition: background-color 0.7s;
}

#sair:hover {
  background-color: rgb(221, 0, 0);
  color: white;
}

#pagar:hover, #receber:hover, #listar:hover {
  background-color: #59139b;
  color: white;
}

