/* body {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    text-align: center;

    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}
h1, h2 {
    font-weight: 300;
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;


    width: 375px;
    height: 812px;
}

@keyframes spin {
    0% {transform-origin: 50% 59.5%; transform:rotate(0deg);}
    25% {transform-origin: 50% 59.5%; transform:rotate(0deg);}
    100% {transform-origin: 50% 59.5%; transform:rotate(360deg);}
}

.container {
    width: 100vw;
}

img {
    --size: 7.5rem;

    position: absolute;

    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    margin: auto calc(50% - var(--size) / 2);
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.welcome {
    --size: 1.125rem;

    width: 88%;
    margin: 6rem 6%;
    font-size: var(--size);
    text-align: center;
}

.btn-container {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
}

Button {
    margin-top: 3vh;
}

.header {
    text-align: center;
    padding: 5vh 0px;
}

.label, .errorLabel {
    padding-left: 6%;
}

.errorLabel {
    display: block;
    margin-bottom: 5vh;
}

input.input {
    display: block;
    border: none;
    margin-left: 5%;
    padding-left: 1%;
    width: 87%;
    padding: 2% 1%;
}

input.input:hover,
input.input:active, 
input.input:focus{
    outline: none;
}

.input+span{
    display:inline-block;
    width:0px;
    height: 1px;
    position: relative;
    top:-2vh;
    transition: all ease-in-out 0.75s;
    margin-left: 6%;
    background: #F5B402;
    
}

.input:hover+span,
.input:active+span, 
.input:focus+span{
    width:88%;    
}

.botaoEntrar {
    display: block;
    background-color: transparent;
    width: 88%;
    margin-left: 6%;
    padding: 1rem;
    font-size: 1,125rem;
    outline: none;
    border: 1px solid;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.botaoEntrar:hover,
.botaoEntrar:active,
.botaoEntrar:focus {
    background-color: #F5B402;
    border: 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.botaoNaoPossuoConta {
    display: inline-block;
    margin-top: 3vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #8B85D4;
}

.containerCenter {
    width: 100%;
    text-align: center;
}

/* ================================================= */
/* ================================================= */
/* ================================================= */
/* ================================================= */

.transactionContainer {
    margin-top: 11vh;
    width: 100vw;
}

.formContainer {
    padding-top: 7.5vh;
}


input.input {
    display: block;
    border: none;
    margin-left: 5%;
    padding-left: 1%;
    width: 87%;
    padding: 2% 1%;
}

input.input:hover,
input.input:active, 
input.input:focus{
    outline: none;
}

.input+span{
    display:inline-block;
    width:0px;
    height: 1px;
    position: relative;
    top:-2vh;
    transition: all ease-in-out 0.75s;
    margin-left: 6%;
    background: #F5B402;
    
}

.input:hover+span,
.input:active+span, 
.input:focus+span{
    width:88%;    
}

label {
    padding-left: 6%;
}

/* ================================================= */
/* ================================================= */
/* ================================================= */
/* ================================================= */

button.btn {
    display: block;
    background-color: transparent;
    width: 88%;
    margin-left: 6%;
    padding: 1rem;
    font-size: 1,125rem;
    outline: none;
    border: inset 1px solid;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

button.btn:hover,
button.btn:active,
button.btn:focus {
    background-color: #F5B402;
    border: 0 transparent;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

div.buttonContainer {
    height: 5rem;
}

/* ================================================= */
/* ================================================= */
/* ================================================= */
/* ================================================= */

.container {
    width: 100vw;
}

.header {
    text-align: center;
    padding: 5vh 0px;
}

.label, .errorLabel {
    padding-left: 6%;
}

.errorLabel {
    display: block;
    margin-bottom: 5vh;
}

input.input {
    display: block;
    border: none;
    margin-left: 5%;
    padding-left: 1%;
    width: 87%;
    padding: 2% 1%;
}

input.input:hover,
input.input:active, 
input.input:focus{
    outline: none;
}

.input+span{
    display:inline-block;
    width:0px;
    height: 1px;
    position: relative;
    top:-2vh;
    transition: all ease-in-out 0.75s;
    margin-left: 6%;
    background: #F5B402;
    
}

.containerCenter {
    width: 100%;
    text-align: center;
}

/* ================================================= */
/* ================================================= */
/* ================================================= */
/* ================================================= */

.dividerContainer {
    width: 100vw;
    text-align: center;
}



.divider {
    border-top: 1px dashed #707070;
    opacity: 0.8;
    width: 88%;
    padding: 0 auto;
}


/* ================================================= */
/* ================================================= */
/* ================================================= */
/* ================================================= */




